<header class="logistics-header">
    <link rel="stylesheet" href="/css/header.css">
    <div class="header-container">
        
        <div class="logo-area">
            <a href="/index.html" class="logo-link" title="Trang chủ">
                <img src="/images/logo.png" alt="Golden Cargo Logo" class="brand-logo">
            </a>
        </div>

        <nav class="main-navigator">
            <ul class="nav-menu">
                <li class="nav-item"><a href="/index.html" class="nav-link active">Trang chủ</a></li>
                <li class="nav-item"><a href="/gioithieu.html" class="nav-link">Giới thiệu</a></li>

                <li class="nav-item has-dropdown">
                    <a href="/dichvu.html" class="nav-link">
                        Dịch vụ <i class="fa-solid fa-angle-down arrow-icon"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/chitietdichvu.html?service=van-chuyen-duong-bien"><i class="fa-solid fa-ship"></i> Vận chuyển đường biển</a></li>
                        <li><a href="/chitietdichvu.html?service=van-chuyen-hang-khong"><i class="fa-solid fa-plane"></i> Vận chuyển đường hàng không</a></li>
                        <li><a href="/chitietdichvu.html?service=van-chuyen-noi-dia"><i class="fa-solid fa-truck"></i> Vận chuyển nội địa & đường bộ</a></li>
                        <li><a href="/chitietdichvu.html?service=dich-vu-hai-quan"><i class="fa-solid fa-file-invoice"></i> Khai báo hải quan</a></li>
                        <li><a href="/chitietdichvu.html?service=dich-vu-kho-bai"><i class="fa-solid fa-warehouse"></i> Dịch vụ kho bãi</a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a href="/doitac.html" class="nav-link">Đối tác</a></li>
                <li class="nav-item"><a href="/tintuc.html" class="nav-link">Tin tức & Sự kiện</a></li>
                <li class="nav-item"><a href="/lienhe.html" class="nav-link">Liên hệ</a></li>
            </ul>
        </nav>

        <div class="header-utilities">
            <div class="quick-contact">
                <a href="mailto:infor@goldencargo.com.vn" class="contact-link" title="Gửi Email">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="text-detail">infor@goldencargo.com.vn</span>
                </a>
                <a href="tel:+84902722664" class="contact-link phone-highlight" title="Gọi Hotline">
                    <i class="fa-solid fa-headset"></i>
                    <span class="text-detail">(+84) 902 722 664</span>
                </a>
            </div>
            
            <div class="lang-selector">
                <a href="?lang=vi" class="lang-option active" title="Tiếng Việt">
                    <img src="https://flagcdn.com/w20/vn.png" alt="Việt Nam">
                </a>
                <a href="?lang=en" class="lang-option" title="English">
                    <img src="https://flagcdn.com/w20/gb.png" alt="English">
                </a>
            </div>
        </div>

    </div>
</header>